@keyframes ldio-h708z95jqg {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-h708z95jqg div { box-sizing: border-box!important }
.ldio-h708z95jqg > div {
  position: absolute;
  width: 138px;
  height: 138px;
  top: 31px;
  left: 31px;
  border-radius: 50%;
  border: 10px solid #000;
  border-color: #71a4fe transparent #71a4fe transparent;
  animation: ldio-h708z95jqg 1s linear infinite;
}
.ldio-h708z95jqg > div:nth-child(2) { border-color: transparent }
.ldio-h708z95jqg > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-h708z95jqg > div:nth-child(2) div:before, .ldio-h708z95jqg > div:nth-child(2) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: -10px;
  left: 54px;
  background: #71a4fe;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #71a4fe;
}
.ldio-h708z95jqg > div:nth-child(2) div:after {
  left: -10px;
  top: 54px;
  box-shadow: 128px 0 0 0 #71a4fe;
}
.loadingio-spinner-dual-ring-vgkmbghmoqf {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  // background: #ffffff;
}
.ldio-h708z95jqg {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-h708z95jqg div { box-sizing: content-box; }
/* generated by https://loading.io/ */
